# Ignore node_modules directory
node_modules/

# Ignore build output directory
build/

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore logs and temporary files
*.log
*.tmp

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock

# Ignore .env files containing sensitive information
.env

# Ignore macOS specific files
.DS_Store
